# WRDS CRSP Documentation

### Treasury Libraries
`crsp_m_treasuries`

Quote Data
* tfz_dly: main file of treasury quotes
* tfz_dly_ts2: supplemental series
* tfz_dly_ft: matched to term structure at any given date
* tfz_dly_cd: compilation of fed reported rates in tfz format
* tfz_dly_cpi: compilation of cpi data
* tfz_dly_rf2: compiled risk-free rate

Identifying Info
* tfz_iss: issue details (which are included automatically in queries.)
* tfz_idx: description of KYTREASNOX codes

### WRDS Python Manual
https://wrds-www.wharton.upenn.edu/pages/support/programming-wrds/programming-python/querying-wrds-data-python/

https://wrds-www.wharton.upenn.edu/pages/support/programming-wrds/programming-python/python-example-data-workflow/

https://wrds-www.wharton.upenn.edu/pages/support/applications/python-replications/fama-french-factors-python/

### CRSP Treasury Manual

https://www.crsp.org/products/documentation/treasno-properties
https://www.crsp.org/products/documentation/reference-information

In [6]:
import wrds
file_key = open("../../keys/wrds_username.txt","r")
USERNAME = file_key.read()
file_key.close()

db = wrds.Connection(wrds_username=USERNAME)
#db.create_pgpass_file()

Loading library list...
Done

In [7]:
import pandas as pd
import numpy as np
from datetime import date

# Library Info

In [8]:
libs = db.list_libraries()
libs_crsp = [item for item in libs if item.startswith('crsp')]
treasury_databases = db.list_tables('crsp_m_treasuries')
display(treasury_databases)

['tfz_dly',
 'tfz_dly_cd',
 'tfz_dly_cpi',
 'tfz_dly_ft',
 'tfz_dly_rf2',
 'tfz_dly_ts2',
 'tfz_idx',
 'tfz_iss',
 'tfz_mast',
 'tfz_mth',
 'tfz_mth_bp',
 'tfz_mth_cd',
 'tfz_mth_cpi',
 'tfz_mth_fb',
 'tfz_mth_ft',
 'tfz_mth_rf',
 'tfz_mth_rf2',
 'tfz_mth_ts',
 'tfz_mth_ts2',
 'tfz_pay']

In [9]:
db.describe_table(library='crsp_m_treasuries', table='tfz_dly')

Approximately 3376081 rows in crsp_m_treasuries.tfz_dly.

              name  nullable              type comment
0        kytreasno      True  DOUBLE_PRECISION    None
1         kycrspid      True       VARCHAR(15)    None
2            caldt      True              DATE    None
3            tdbid      True  DOUBLE_PRECISION    None
4            tdask      True  DOUBLE_PRECISION    None
5         tdnomprc      True  DOUBLE_PRECISION    None
6     tdnomprc_flg      True        VARCHAR(1)    None
7         tdsourcr      True        VARCHAR(1)    None
8         tdaccint      True  DOUBLE_PRECISION    None
9         tdretnua      True  DOUBLE_PRECISION    None
10           tdyld      True  DOUBLE_PRECISION    None
11        tdduratn      True  DOUBLE_PRECISION    None
12        tdpubout      True  DOUBLE_PRECISION    None
13        tdtotout      True  DOUBLE_PRECISION    None
14         tdpdint      True  DOUBLE_PRECISION    None
15      tdidxratio      True  DOUBLE_PRECISION    None
16  tdidxratio_flg      True        VARCHAR(1)    None

# Database quote

In [15]:
DATE = '2023-07-26'
SQL_QUERY = f'select * from crsp_m_treasuries.tfz_dly where caldt=\'{DATE}\''
data_quotes = db.raw_sql(SQL_QUERY)
data_quotes

,kytreasno,kycrspid,caldt,tdbid,tdask,tdnomprc,tdnomprc_flg,tdsourcr,tdaccint,tdretnua,tdyld,tdduratn,tdpubout,tdtotout,tdpdint,tdidxratio,tdidxratio_flg
0,204084.0,20250215.107620,2023-07-26,103.726562,103.757812,103.742188,M,I,3.391229,0.000197,0.000137,531.605289,3333.0,9509.0,0.0,NaN,None
1,204085.0,20250815.106870,2023-07-26,103.992188,104.023438,104.007812,M,I,3.057666,0.000543,0.000130,693.945052,3356.0,11187.0,0.0,NaN,None
2,204090.0,20270815.106370,2023-07-26,107.781250,107.828125,107.804688,M,I,2.835290,0.001999,0.000115,1301.182467,3633.0,9197.0,0.0,NaN,None
3,204091.0,20271115.106120,2023-07-26,107.351562,107.421875,107.386719,M,I,1.198370,0.001775,0.000114,1398.440949,7775.0,22021.0,0.0,NaN,None
4,204092.0,20280815.105500,2023-07-26,105.992188,106.039062,106.015625,M,I,2.446133,0.001655,0.000113,1607.919908,4635.0,11776.0,0.0,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,208076.0,20300630.203750,2023-07-26,98.429688,98.476562,98.453125,M,I,0.264946,0.001768,0.000109,2244.022080,35000.0,35000.0,0.0,NaN,None
433,208079.0,20231121.400000,2023-07-26,98.266056,98.270972,98.268514,M,I,0.000000,0.000124,0.000148,118.000000,NaN,NaN,0.0,NaN,None
434,208082.0,20240118.400000,2023-07-26,97.426000,97.430889,97.428444,M,I,0.000000,0.000163,0.000148,176.000000,NaN,NaN,0.0,NaN,None
435,208085.0,20250731.204750,2023-07-26,99.785156,99.820312,99.802734,M,I,0.000000,0.000431,0.000130,711.016973,NaN,NaN,0.0,NaN,None
436,208087.0,20280731.204120,2023-07-26,100.011719,100.058594,100.035156,M,I,0.000000,NaN,0.000111,1674.728705,NaN,NaN,0.0,NaN,None

In [16]:
KEYS = tuple(data_quotes['kytreasno'])
SQL_QUERY = f'select * from crsp_m_treasuries.tfz_iss where kytreasno in {KEYS}'
data_iss = db.raw_sql(SQL_QUERY)
data_iss

,kytreasno,kycrspid,crspid,tcusip,tdatdt,tmatdt,iwhy,tcouprt,tnippy,tvalfc,...,tfcaldt,tnotice,iymcn,itype,iuniq,itax,iflwr,tbankdt,tstripelig,tfrgntgt
0,204082.0,20230815.106250,20230815.106250,912810EQ,1993-08-16,2023-08-15,1.0,6.250,2.0,3.108016,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
1,204083.0,20241115.107500,20241115.107500,912810ES,1994-05-15,2024-11-15,0.0,7.500,2.0,3.750000,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
2,204084.0,20250215.107620,20250215.107620,912810ET,1995-02-15,2025-02-15,0.0,7.625,2.0,3.812500,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
3,204085.0,20250815.106870,20250815.106870,912810EV,1995-08-15,2025-08-15,0.0,6.875,2.0,3.437500,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
4,204086.0,20260215.106000,20260215.106000,912810EW,1996-02-15,2026-02-15,0.0,6.000,2.0,3.000000,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,208084.0,20240711.400000,20240711.400000,912797GB,2023-07-13,2024-07-11,0.0,0.000,0.0,0.000000,...,None,0.0,None,4.0,0.0,1.0,1.0,None,None,None
433,208085.0,20250731.204750,20250731.204750,91282CHN,2023-07-31,2025-07-31,0.0,4.750,2.0,2.375000,...,None,0.0,None,2.0,0.0,1.0,1.0,None,None,None
434,208086.0,20260715.204500,20260715.204500,91282CHM,2023-07-15,2026-07-15,0.0,4.500,2.0,2.250000,...,None,0.0,None,2.0,0.0,1.0,1.0,None,None,None
435,208087.0,20280731.204120,20280731.204120,91282CHQ,2023-07-31,2028-07-31,0.0,4.125,2.0,2.062500,...,None,0.0,None,2.0,0.0,1.0,1.0,None,None,None
436,208089.0,20330715.C01370,20330715.C01370,91282CHP,2023-07-15,2033-07-15,0.0,1.375,2.0,0.687500,...,None,0.0,None,12.0,0.0,1.0,1.0,None,None,None

In [17]:
data = data_quotes.merge(data_iss, on='kytreasno')
data

,kytreasno,kycrspid_x,caldt,tdbid,tdask,tdnomprc,tdnomprc_flg,tdsourcr,tdaccint,tdretnua,...,tfcaldt,tnotice,iymcn,itype,iuniq,itax,iflwr,tbankdt,tstripelig,tfrgntgt
0,204084.0,20250215.107620,2023-07-26,103.726562,103.757812,103.742188,M,I,3.391229,0.000197,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
1,204085.0,20250815.106870,2023-07-26,103.992188,104.023438,104.007812,M,I,3.057666,0.000543,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
2,204090.0,20270815.106370,2023-07-26,107.781250,107.828125,107.804688,M,I,2.835290,0.001999,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
3,204091.0,20271115.106120,2023-07-26,107.351562,107.421875,107.386719,M,I,1.198370,0.001775,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
4,204092.0,20280815.105500,2023-07-26,105.992188,106.039062,106.015625,M,I,2.446133,0.001655,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,208076.0,20300630.203750,2023-07-26,98.429688,98.476562,98.453125,M,I,0.264946,0.001768,...,None,0.0,None,2.0,0.0,1.0,1.0,None,None,None
433,208079.0,20231121.400000,2023-07-26,98.266056,98.270972,98.268514,M,I,0.000000,0.000124,...,None,0.0,None,4.0,0.0,1.0,1.0,None,None,None
434,208082.0,20240118.400000,2023-07-26,97.426000,97.430889,97.428444,M,I,0.000000,0.000163,...,None,0.0,None,4.0,0.0,1.0,1.0,None,None,None
435,208085.0,20250731.204750,2023-07-26,99.785156,99.820312,99.802734,M,I,0.000000,0.000431,...,None,0.0,None,2.0,0.0,1.0,1.0,None,None,None
436,208087.0,20280731.204120,2023-07-26,100.011719,100.058594,100.035156,M,I,0.000000,NaN,...,None,0.0,None,2.0,0.0,1.0,1.0,None,None,None

In [23]:
data.columns

Index(['kytreasno', 'kycrspid_x', 'caldt', 'tdbid', 'tdask', 'tdnomprc',
       'tdnomprc_flg', 'tdsourcr', 'tdaccint', 'tdretnua', 'tdyld', 'tdduratn',
       'tdpubout', 'tdtotout', 'tdpdint', 'tdidxratio', 'tdidxratio_flg',
       'kycrspid_y', 'crspid', 'tcusip', 'tdatdt', 'tmatdt', 'iwhy', 'tcouprt',
       'tnippy', 'tvalfc', 'tfcpdt', 'ifcpdtf', 'tfcaldt', 'tnotice', 'iymcn',
       'itype', 'iuniq', 'itax', 'iflwr', 'tbankdt', 'tstripelig', 'tfrgntgt'],
      dtype='object')

In [28]:
with pd.option_context('display.max_rows',None):
    display(data.sort_values('tdatdt')[['kytreasno','tmatdt','tdatdt','tcouprt']])

     kytreasno      tmatdt      tdatdt  tcouprt
79    204082.0  2023-08-15  1993-08-16    6.250
263   204083.0  2024-11-15  1994-05-15    7.500
0     204084.0  2025-02-15  1995-02-15    7.625
1     204085.0  2025-08-15  1995-08-15    6.875
164   204086.0  2026-02-15  1996-02-15    6.000
346   204087.0  2026-08-15  1996-08-15    6.750
347   204088.0  2026-11-15  1996-11-15    6.500
264   204089.0  2027-02-15  1997-02-15    6.625
2     204090.0  2027-08-15  1997-08-15    6.375
3     204091.0  2027-11-15  1997-11-15    6.125
13    206472.0  2028-04-15  1998-04-15    3.625
4     204092.0  2028-08-15  1998-08-15    5.500
265   204093.0  2028-11-15  1998-11-15    5.250
80    204094.0  2029-02-15  1999-02-15    5.250
268   206474.0  2029-04-15  1999-04-15    3.875
165   204095.0  2029-08-15  1999-08-15    6.125
5     204096.0  2030-05-15  1999-11-15    6.250
6     204097.0  2031-02-15  2001-02-15    5.375
353   206475.0  2032-04-15  2001-10-15    3.375
82    206468.0  2025-01-15  2004-07-15    2.375
83    206480.0  2026-01-15  2006-01-15    2.000
348   204098.0  2036-02-15  2006-02-15    4.500
15    206481.0  2027-01-15  2007-01-15    2.375
7     204099.0  2037-02-15  2007-02-15    4.750
349   204100.0  2037-05-15  2007-08-15    5.000
84    206482.0  2028-01-15  2008-01-15    1.750
8     204101.0  2038-02-15  2008-02-15    4.375
350   204102.0  2038-05-15  2008-05-15    4.500
352   206473.0  2029-01-15  2009-01-15    2.500
166   204103.0  2039-02-15  2009-02-15    3.500
167   206058.0  2039-05-15  2009-05-15    4.250
9     206059.0  2039-08-15  2009-08-15    4.500
168   206086.0  2039-11-15  2009-11-15    4.375
10    206112.0  2040-02-15  2010-02-15    4.625
269   206476.0  2040-02-15  2010-02-15    2.125
81    206142.0  2040-05-15  2010-05-15    4.375
351   206170.0  2040-08-15  2010-08-15    3.875
11    206196.0  2040-11-15  2010-11-15    4.250
169   206226.0  2041-02-15  2011-02-15    4.750
172   206477.0  2041-02-15  2011-02-15    2.125
266   206254.0  2041-05-15  2011-05-15    4.375
170   206286.0  2041-08-15  2011-08-15    3.750
12    206313.0  2041-11-15  2011-11-15    3.125
14    206478.0  2042-02-15  2012-02-15    0.750
267   206341.0  2042-02-15  2012-02-15    3.125
171   206371.0  2042-05-15  2012-05-15    3.000
270   206528.0  2042-08-15  2012-08-15    2.750
354   206562.0  2042-11-15  2012-11-15    2.750
355   206593.0  2043-02-15  2013-02-15    0.625
271   206592.0  2043-02-15  2013-02-15    3.125
16    206624.0  2043-05-15  2013-05-15    2.875
272   206652.0  2023-08-15  2013-08-15    2.500
85    206653.0  2043-08-15  2013-08-15    3.625
86    206682.0  2043-11-15  2013-11-15    3.750
356   206681.0  2023-11-15  2013-11-15    2.750
273   206701.0  2024-01-15  2014-01-15    0.625
274   206710.0  2024-02-15  2014-02-15    2.750
17    206712.0  2044-02-15  2014-02-15    1.375
357   206711.0  2044-02-15  2014-02-15    3.625
275   206742.0  2044-05-15  2014-05-15    3.375
173   206741.0  2024-05-15  2014-05-15    2.500
18    206759.0  2024-07-15  2014-07-15    0.125
174   206770.0  2044-08-15  2014-08-15    3.125
358   206769.0  2024-08-15  2014-08-15    2.375
175   206796.0  2024-11-15  2014-11-15    2.250
87    206797.0  2044-11-15  2014-11-15    3.000
359   206816.0  2025-01-15  2015-01-15    0.250
360   206826.0  2045-02-15  2015-02-15    2.500
176   206827.0  2045-02-15  2015-02-15    0.750
276   206825.0  2025-02-15  2015-02-15    2.000
277   206860.0  2045-05-15  2015-05-15    3.000
19    206859.0  2025-05-15  2015-05-15    2.125
88    206878.0  2025-07-15  2015-07-15    0.375
361   206889.0  2025-08-15  2015-08-15    2.000
20    206879.0  2045-08-15  2015-08-15    2.875
362   206915.0  2025-11-15  2015-11-15    2.250
177   206916.0  2045-11-15  2015-11-15    3.000
89    206941.0  2026-01-15  2016-01-15    0.625
90    206951.0  2046-02-15  2016-02-15    1.000
178   206949.0  2026-02-15  2016-02-15    1.625
363   206950.0  2046-02-15  2016-02-15    2.500
278   206982.0  2046-05-15  2016-05-15    2.500
91    206981.0  2026-05-15  2016-05-15    1.625
92    206999.0  2026-07-15  2016-07-15    0.125
179   206998.0  2023-07-31  2016-07-31    1.250
180   207009.0  2026-08-15  2016-08-15    1.500
365   207010.0  2046-08-15  2016-08-15    2.250
364   207008.0  2023-08-31  2016-08-31    1.375
21    207019.0  2023-09-30  2016-09-30    1.375
279   207027.0  2023-10-31  2016-10-31    1.625
366   207037.0  2046-11-15  2016-11-15    2.875
93    207036.0  2026-11-15  2016-11-15    2.000
181   207035.0  2023-11-30  2016-11-30    2.125
182   207047.0  2023-12-31  2016-12-31    2.250
367   207056.0  2027-01-15  2017-01-15    0.375
280   207055.0  2024-01-31  2017-01-31    2.250
368   207067.0  2047-02-15  2017-02-15    3.000
281   207066.0  2027-02-15  2017-02-15    2.250
183   207068.0  2047-02-15  2017-02-15    0.875
94    207065.0  2024-02-29  2017-02-28    2.125
282   207077.0  2024-03-31  2017-03-31    2.125
184   207085.0  2024-04-30  2017-04-30    2.000
22    207095.0  2047-05-15  2017-05-15    3.000
185   207094.0  2027-05-15  2017-05-15    2.375
369   207093.0  2024-05-31  2017-05-31    2.000
370   207103.0  2024-06-30  2017-06-30    2.000
283   207119.0  2027-07-15  2017-07-15    0.375
95    207118.0  2024-07-31  2017-07-31    2.125
97    207131.0  2047-08-15  2017-08-15    2.750
96    207130.0  2027-08-15  2017-08-15    2.250
23    207129.0  2024-08-31  2017-08-31    1.875
186   207140.0  2024-09-30  2017-09-30    2.125
284   207148.0  2024-10-31  2017-10-31    2.250
98    207159.0  2047-11-15  2017-11-15    2.750
24    207158.0  2027-11-15  2017-11-15    2.250
187   207157.0  2024-11-30  2017-11-30    2.125
371   207166.0  2024-12-31  2017-12-31    2.250
285   207176.0  2028-01-15  2018-01-15    0.500
99    207175.0  2025-01-31  2018-01-31    2.500
188   207186.0  2028-02-15  2018-02-15    2.750
286   207188.0  2048-02-15  2018-02-15    1.000
100   207187.0  2048-02-15  2018-02-15    3.000
25    207185.0  2025-02-28  2018-02-28    2.750
189   207197.0  2025-03-31  2018-03-31    2.625
287   207206.0  2025-04-30  2018-04-30    2.875
372   207216.0  2048-05-15  2018-05-15    3.125
102   207215.0  2028-05-15  2018-05-15    2.875
101   207214.0  2025-05-31  2018-05-31    2.875
190   207224.0  2025-06-30  2018-06-30    2.750
289   207233.0  2028-07-15  2018-07-15    0.750
288   207232.0  2025-07-31  2018-07-31    2.875
373   207231.0  2023-07-31  2018-07-31    2.750
374   207247.0  2028-08-15  2018-08-15    2.875
290   207248.0  2048-08-15  2018-08-15    3.000
191   207245.0  2023-08-31  2018-08-31    2.750
103   207246.0  2025-08-31  2018-08-31    2.750
192   207255.0  2023-09-30  2018-09-30    2.875
193   207256.0  2025-09-30  2018-09-30    3.000
26    207268.0  2025-10-31  2018-10-31    3.000
291   207267.0  2023-10-31  2018-10-31    2.875
27    207269.0  2028-11-15  2018-11-15    3.125
194   207270.0  2048-11-15  2018-11-15    3.375
375   207282.0  2023-11-30  2018-11-30    2.875
292   207283.0  2025-11-30  2018-11-30    2.875
195   207296.0  2023-12-31  2018-12-31    2.625
196   207297.0  2025-12-31  2018-12-31    2.625
28    207312.0  2029-01-15  2019-01-15    0.875
104   207310.0  2024-01-31  2019-01-31    2.500
105   207311.0  2026-01-31  2019-01-31    2.625
197   207313.0  2029-02-15  2019-02-15    2.625
376   207314.0  2049-02-15  2019-02-15    3.000
29    207327.0  2049-02-15  2019-02-15    1.000
106   207326.0  2026-02-28  2019-02-28    2.500
293   207325.0  2024-02-29  2019-02-28    2.375
198   207337.0  2026-03-31  2019-03-31    2.250
294   207348.0  2024-04-15  2019-04-15    0.500
107   207350.0  2026-04-30  2019-04-30    2.375
295   207349.0  2024-04-30  2019-04-30    2.250
296   207362.0  2029-05-15  2019-05-15    2.375
297   207363.0  2049-05-15  2019-05-15    2.875
199   207361.0  2026-05-31  2019-05-31    2.125
108   207374.0  2024-06-30  2019-06-30    1.750
30    207375.0  2026-06-30  2019-06-30    1.875
31    207390.0  2029-07-15  2019-07-15    0.250
298   207389.0  2026-07-31  2019-07-31    1.875
377   207388.0  2024-07-31  2019-07-31    1.750
32    207391.0  2029-08-15  2019-08-15    1.625
109   207392.0  2049-08-15  2019-08-15    2.250
200   207404.0  2024-08-31  2019-08-31    1.250
33    207405.0  2026-08-31  2019-08-31    1.375
299   207416.0  2024-09-30  2019-09-30    1.500
300   207417.0  2026-09-30  2019-09-30    1.625
201   207431.0  2024-10-15  2019-10-15    0.125
378   207433.0  2026-10-31  2019-10-31    1.625
34    207432.0  2024-10-31  2019-10-31    1.500
202   207446.0  2049-11-15  2019-11-15    2.375
379   207434.0  2029-11-15  2019-11-15    1.750
110   207444.0  2024-11-30  2019-11-30    1.500
111   207445.0  2026-11-30  2019-11-30    1.625
36    207459.0  2026-12-31  2019-12-31    1.750
35    207458.0  2024-12-31  2019-12-31    1.750
204   207473.0  2030-01-15  2020-01-15    0.125
112   207471.0  2025-01-31  2020-01-31    1.375
203   207472.0  2027-01-31  2020-01-31    1.500
113   207493.0  2050-02-15  2020-02-15    2.000
114   207494.0  2050-02-15  2020-02-15    0.250
302   207492.0  2030-02-15  2020-02-15    1.500
301   207491.0  2027-02-28  2020-02-29    1.125
37    207490.0  2025-02-28  2020-02-29    1.125
38    207507.0  2025-03-31  2020-03-31    0.500
380   207508.0  2027-03-31  2020-03-31    0.625
115   207528.0  2025-04-15  2020-04-15    0.125
205   207529.0  2025-04-30  2020-04-30    0.375
206   207530.0  2027-04-30  2020-04-30    0.500
39    207548.0  2040-05-15  2020-05-15    1.125
117   207547.0  2030-05-15  2020-05-15    0.625
40    207549.0  2050-05-15  2020-05-15    1.250
116   207546.0  2027-05-31  2020-05-31    0.500
303   207545.0  2025-05-31  2020-05-31    0.250
381   207560.0  2025-06-30  2020-06-30    0.250
304   207561.0  2027-06-30  2020-06-30    0.500
207   207582.0  2030-07-15  2020-07-15    0.125
41    207580.0  2025-07-31  2020-07-31    0.250
42    207581.0  2027-07-31  2020-07-31    0.375
307   207595.0  2030-08-15  2020-08-15    0.625
382   207592.0  2023-08-15  2020-08-15    0.125
118   207596.0  2040-08-15  2020-08-15    1.125
119   207597.0  2050-08-15  2020-08-15    1.375
306   207594.0  2027-08-31  2020-08-31    0.500
305   207593.0  2025-08-31  2020-08-31    0.250
208   207608.0  2023-09-15  2020-09-15    0.125
209   207609.0  2025-09-30  2020-09-30    0.250
383   207610.0  2027-09-30  2020-09-30    0.375
120   207623.0  2025-10-15  2020-10-15    0.125
308   207622.0  2023-10-15  2020-10-15    0.125
43    207625.0  2027-10-31  2020-10-31    0.500
121   207624.0  2025-10-31  2020-10-31    0.250
309   207638.0  2030-11-15  2020-11-15    0.875
310   207639.0  2040-11-15  2020-11-15    1.375
210   207635.0  2023-11-15  2020-11-15    0.250
311   207640.0  2050-11-15  2020-11-15    1.625
385   207637.0  2027-11-30  2020-11-30    0.625
384   207636.0  2025-11-30  2020-11-30    0.375
44    207651.0  2023-12-15  2020-12-15    0.125
45    207652.0  2025-12-31  2020-12-31    0.375
211   207653.0  2027-12-31  2020-12-31    0.625
212   207664.0  2024-01-15  2021-01-15    0.125
387   207667.0  2031-01-15  2021-01-15    0.125
122   207665.0  2026-01-31  2021-01-31    0.375
386   207666.0  2028-01-31  2021-01-31    0.750
214   207681.0  2051-02-15  2021-02-15    0.125
213   207675.0  2024-02-15  2021-02-15    0.125
312   207680.0  2051-02-15  2021-02-15    1.875
46    207679.0  2041-02-15  2021-02-15    1.875
389   207678.0  2031-02-15  2021-02-15    1.125
123   207676.0  2026-02-28  2021-02-28    0.500
388   207677.0  2028-02-29  2021-02-28    1.125
390   207689.0  2024-03-15  2021-03-15    0.250
47    207690.0  2026-03-31  2021-03-31    0.750
313   207691.0  2028-03-31  2021-03-31    1.250
215   207701.0  2024-04-15  2021-04-15    0.375
391   207702.0  2026-04-15  2021-04-15    0.125
48    207703.0  2026-04-30  2021-04-30    0.750
314   207704.0  2028-04-30  2021-04-30    1.250
216   207714.0  2024-05-15  2021-05-15    0.250
124   207719.0  2051-05-15  2021-05-15    2.375
50    207717.0  2031-05-15  2021-05-15    1.625
315   207718.0  2041-05-15  2021-05-15    2.250
49    207716.0  2028-05-31  2021-05-31    1.250
392   207715.0  2026-05-31  2021-05-31    0.750
393   207730.0  2024-06-15  2021-06-15    0.250
394   207731.0  2026-06-30  2021-06-30    0.875
316   207732.0  2028-06-30  2021-06-30    1.250
317   207746.0  2031-07-15  2021-07-15    0.125
217   207743.0  2024-07-15  2021-07-15    0.375
395   207745.0  2028-07-31  2021-07-31    1.000
218   207744.0  2026-07-31  2021-07-31    0.625
51    207742.0  2023-07-31  2021-07-31    0.125
126   207758.0  2024-08-15  2021-08-15    0.375
318   207762.0  2041-08-15  2021-08-15    1.750
220   207761.0  2031-08-15  2021-08-15    1.250
52    207763.0  2051-08-15  2021-08-15    2.000
125   207757.0  2023-08-31  2021-08-31    0.125
396   207759.0  2026-08-31  2021-08-31    0.750
219   207760.0  2028-08-31  2021-08-31    1.125
397   207776.0  2024-09-15  2021-09-15    0.375
319   207778.0  2028-09-30  2021-09-30    1.250
221   207775.0  2023-09-30  2021-09-30    0.250
398   207777.0  2026-09-30  2021-09-30    0.875
128   207789.0  2024-10-15  2021-10-15    0.625
222   207790.0  2026-10-15  2021-10-15    0.125
127   207788.0  2023-10-31  2021-10-31    0.375
223   207791.0  2026-10-31  2021-10-31    1.125
399   207792.0  2028-10-31  2021-10-31    1.375
54    207803.0  2024-11-15  2021-11-15    0.750
401   207806.0  2031-11-15  2021-11-15    1.375
224   207807.0  2041-11-15  2021-11-15    2.000
320   207808.0  2051-11-15  2021-11-15    1.875
129   207804.0  2026-11-30  2021-11-30    1.250
53    207802.0  2023-11-30  2021-11-30    0.500
400   207805.0  2028-11-30  2021-11-30    1.500
130   207820.0  2024-12-15  2021-12-15    1.000
55    207819.0  2023-12-31  2021-12-31    0.750
402   207821.0  2026-12-31  2021-12-31    1.250
225   207822.0  2028-12-31  2021-12-31    1.375
226   207832.0  2025-01-15  2022-01-15    1.125
131   207834.0  2032-01-15  2022-01-15    0.125
403   207831.0  2024-01-31  2022-01-31    0.875
321   207833.0  2029-01-31  2022-01-31    1.750
57    207848.0  2042-02-15  2022-02-15    2.375
227   207847.0  2032-02-15  2022-02-15    1.875
323   207850.0  2052-02-15  2022-02-15    0.125
133   207849.0  2052-02-15  2022-02-15    2.250
132   207844.0  2025-02-15  2022-02-15    1.500
404   207846.0  2029-02-28  2022-02-28    1.875
322   207845.0  2027-02-28  2022-02-28    1.875
56    207843.0  2024-02-29  2022-02-28    1.500
324   207861.0  2025-03-15  2022-03-15    1.750
228   207863.0  2029-03-31  2022-03-31    2.375
405   207862.0  2027-03-31  2022-03-31    2.500
134   207860.0  2024-03-31  2022-03-31    2.250
406   207873.0  2025-04-15  2022-04-15    2.625
229   207874.0  2027-04-15  2022-04-15    0.125
325   207872.0  2024-04-30  2022-04-30    2.500
326   207876.0  2029-04-30  2022-04-30    2.875
135   207875.0  2027-04-30  2022-04-30    2.750
407   207889.0  2032-05-15  2022-05-15    2.875
231   207890.0  2042-05-15  2022-05-15    3.250
137   207891.0  2052-05-15  2022-05-15    2.875
136   207886.0  2025-05-15  2022-05-15    2.750
58    207887.0  2027-05-31  2022-05-31    2.625
327   207888.0  2029-05-31  2022-05-31    2.750
230   207885.0  2024-05-31  2022-05-31    2.500
232   207903.0  2025-06-15  2022-06-15    2.875
408   207902.0  2024-06-30  2022-06-30    3.000
59    207905.0  2029-06-30  2022-06-30    3.250
138   207904.0  2027-06-30  2022-06-30    3.250
139   207915.0  2025-07-15  2022-07-15    3.000
328   207918.0  2032-07-15  2022-07-15    0.625
140   207916.0  2027-07-31  2022-07-31    2.750
60    207917.0  2029-07-31  2022-07-31    2.625
233   207914.0  2024-07-31  2022-07-31    3.000
141   207927.0  2023-08-10  2022-08-11    0.000
409   207932.0  2032-08-15  2022-08-15    2.750
329   207929.0  2025-08-15  2022-08-15    3.125
235   207934.0  2052-08-15  2022-08-15    3.000
234   207933.0  2042-08-15  2022-08-15    3.375
142   207928.0  2024-08-31  2022-08-31    3.250
61    207930.0  2027-08-31  2022-08-31    3.125
62    207931.0  2029-08-31  2022-08-31    3.125
236   207943.0  2023-09-07  2022-09-08    0.000
410   207946.0  2025-09-15  2022-09-15    3.500
144   207948.0  2029-09-30  2022-09-30    3.875
143   207945.0  2024-09-30  2022-09-30    4.250
237   207947.0  2027-09-30  2022-09-30    4.125
330   207944.0  2023-10-05  2022-10-06    0.000
411   207958.0  2025-10-15  2022-10-15    4.250
238   207959.0  2027-10-15  2022-10-15    1.625
145   207960.0  2027-10-31  2022-10-31    4.125
63    207957.0  2024-10-31  2022-10-31    4.375
412   207961.0  2029-10-31  2022-10-31    4.000
331   207956.0  2023-11-02  2022-11-03    0.000
147   207977.0  2052-11-15  2022-11-15    4.000
65    207975.0  2032-11-15  2022-11-15    4.125
239   207972.0  2025-11-15  2022-11-15    4.500
240   207976.0  2042-11-15  2022-11-15    4.000
414   207974.0  2029-11-30  2022-11-30    3.875
64    207971.0  2024-11-30  2022-11-30    4.500
146   207973.0  2027-11-30  2022-11-30    3.875
413   207970.0  2023-11-30  2022-12-01    0.000
66    207988.0  2025-12-15  2022-12-15    4.000
148   207986.0  2023-12-28  2022-12-29    0.000
332   207990.0  2029-12-31  2022-12-31    3.875
241   207989.0  2027-12-31  2022-12-31    3.875
415   207987.0  2024-12-31  2022-12-31    4.250
416   208001.0  2026-01-15  2023-01-15    3.875
243   208004.0  2033-01-15  2023-01-15    1.125
242   207999.0  2024-01-25  2023-01-26    0.000
333   207997.0  2023-07-27  2023-01-26    0.000
67    208002.0  2028-01-31  2023-01-31    3.500
335   208003.0  2030-01-31  2023-01-31    3.500
149   208000.0  2025-01-31  2023-01-31    4.125
334   207998.0  2023-08-03  2023-02-02    0.000
245   208014.0  2026-02-15  2023-02-15    4.000
419   208018.0  2043-02-15  2023-02-15    3.875
337   208019.0  2053-02-15  2023-02-15    3.625
151   208020.0  2053-02-15  2023-02-15    1.500
246   208017.0  2033-02-15  2023-02-15    3.500
150   208009.0  2023-08-17  2023-02-16    0.000
336   208010.0  2023-08-24  2023-02-23    0.000
68    208012.0  2024-02-22  2023-02-23    0.000
69    208016.0  2030-02-28  2023-02-28    4.000
417   208013.0  2025-02-28  2023-02-28    4.625
418   208015.0  2028-02-29  2023-02-28    4.000
244   208011.0  2023-08-31  2023-03-02    0.000
421   208031.0  2026-03-15  2023-03-15    4.625
152   208026.0  2023-09-14  2023-03-16    0.000
248   208029.0  2024-03-21  2023-03-23    0.000
70    208027.0  2023-09-21  2023-03-23    0.000
420   208028.0  2023-09-28  2023-03-30    0.000
249   208032.0  2028-03-31  2023-03-31    3.625
153   208030.0  2025-03-31  2023-03-31    3.875
154   208033.0  2030-03-31  2023-03-31    3.625
247   208025.0  2023-08-01  2023-04-04    0.000
422   208034.0  2023-08-08  2023-04-11    0.000
155   208038.0  2023-10-12  2023-04-13    0.000
340   208045.0  2028-04-30  2023-04-15    1.250
72    208043.0  2026-04-15  2023-04-15    3.750
423   208035.0  2023-08-15  2023-04-18    0.000
339   208041.0  2024-04-18  2023-04-20    0.000
71    208039.0  2023-10-19  2023-04-20    0.000
250   208036.0  2023-08-22  2023-04-25    0.000
251   208040.0  2023-10-26  2023-04-27    0.000
157   208046.0  2030-04-30  2023-04-30    3.500
156   208042.0  2025-04-30  2023-04-30    3.875
252   208044.0  2028-04-30  2023-04-30    3.500
338   208037.0  2023-08-29  2023-05-02    0.000
73    208047.0  2023-09-05  2023-05-09    0.000
74    208052.0  2023-11-09  2023-05-11    0.000
161   208061.0  2043-03-15  2023-05-15    3.875
76    208057.0  2026-05-15  2023-05-15    3.625
425   208060.0  2033-05-15  2023-05-15    3.375
426   208062.0  2053-03-15  2023-05-15    3.625
253   208048.0  2023-09-12  2023-05-16    0.000
424   208053.0  2023-11-16  2023-05-18    0.000
75    208055.0  2024-05-16  2023-05-18    0.000
254   208049.0  2023-09-19  2023-05-23    0.000
159   208054.0  2023-11-24  2023-05-25    0.000
341   208050.0  2023-09-26  2023-05-30    0.000
342   208059.0  2030-05-31  2023-05-31    3.750
160   208058.0  2028-05-31  2023-05-31    3.625
255   208056.0  2025-05-31  2023-05-31    4.250
158   208051.0  2023-10-03  2023-06-06    0.000
428   208068.0  2023-12-07  2023-06-08    0.000
256   208064.0  2023-10-10  2023-06-13    0.000

# Get Yield Curve Data (CRSP)

In [18]:
data_ft = db.get_table(library='crsp_m_treasuries', table='tfz_dly_ft').pivot_table(index='caldt',values='tdytm', columns='kytreasnox')
data_ft.columns = [1,2,5,7,10,20,30]
data_ft

,1,2,5,7,10,20,30
caldt,,,,,,,
1961-06-14,2.935907,3.360687,3.623677,3.768720,3.818819,3.814210,3.815172
1961-06-15,2.932936,3.376460,3.671691,3.804225,3.862987,3.828220,3.826316
1961-06-16,2.929949,3.375670,3.685431,3.804216,3.863282,3.832922,3.830049
1961-06-19,2.920884,3.389970,3.712984,3.824557,3.886205,3.842378,3.837543
1961-06-20,2.952419,3.355796,3.685391,3.809274,3.886506,3.856465,3.845018
...,...,...,...,...,...,...,...
2023-11-24,5.257859,4.872766,4.461339,4.398719,4.433848,4.778018,4.557470
2023-11-27,5.226927,4.816147,4.385743,4.326477,4.357056,4.706707,4.496166
2023-11-28,5.233664,4.694370,4.277890,4.244636,4.284440,4.668738,4.465826
2023-11-29,5.124336,4.598214,4.211757,4.177683,4.223625,4.604665,4.397524
2023-11-30,5.141552,4.618621,4.275851,4.247920,4.287157,4.666943,4.454573

# Get Timeseries for certain maturities

In [26]:
MATDT = '2041-02-15'

SQL_QUERY = f'select * from crsp_m_treasuries.tfz_iss where tmatdt=\'{MATDT}\''
temp = db.raw_sql(SQL_QUERY)
#temp = temp[temp['itype'].isin([11,12]) == DOTIPS]
temp

,kytreasno,kycrspid,crspid,tcusip,tdatdt,tmatdt,iwhy,tcouprt,tnippy,tvalfc,...,tfcaldt,tnotice,iymcn,itype,iuniq,itax,iflwr,tbankdt,tstripelig,tfrgntgt
0,206226.0,20410215.104750,20410215.104750,912810QN,2011-02-15,2041-02-15,0.0,4.750,2.0,2.3750,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
1,206477.0,20410215.B02120,20410215.B02120,912810QP,2011-02-15,2041-02-15,0.0,2.125,2.0,1.0625,...,None,0.0,None,11.0,0.0,1.0,1.0,None,None,None
2,207679.0,20410215.101870,20410215.101870,912810SW,2021-02-15,2041-02-15,0.0,1.875,2.0,0.9375,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None

In [27]:
if temp.shape[0]>1:
    KEYNO = tuple(temp['kytreasno'])
    SQL_QUERY = f'select * from crsp_m_treasuries.tfz_dly where kytreasno in {KEYNO}'
else:
    KEYNO = temp['kytreasno'].values[0]
    SQL_QUERY = f'select * from crsp_m_treasuries.tfz_dly where kytreasno =\'{KEYNO}\''
    
ts = db.raw_sql(SQL_QUERY)
ts

,kytreasno,kycrspid,caldt,tdbid,tdask,tdnomprc,tdnomprc_flg,tdsourcr,tdaccint,tdretnua,tdyld,tdduratn,tdpubout,tdtotout,tdpdint,tdidxratio,tdidxratio_flg
0,206226.0,20410215.104750,2011-02-11,100.953125,101.031250,100.992188,M,I,0.000000,NaN,0.000127,5976.516147,NaN,NaN,0.0,NaN,None
1,206226.0,20410215.104750,2012-06-20,141.828125,141.906250,141.867188,M,I,1.644231,0.000091,0.000072,6515.711044,28654.0,43005.0,0.0,NaN,None
2,206226.0,20410215.104750,2012-06-21,143.195312,143.210938,143.203125,M,I,1.657280,0.009400,0.000071,6534.197013,28654.0,43005.0,0.0,NaN,None
3,206226.0,20410215.104750,2012-06-22,141.289062,141.367188,141.328125,M,I,1.670330,-0.012853,0.000073,6505.866039,28654.0,43005.0,0.0,NaN,None
4,206226.0,20410215.104750,2012-06-25,143.468750,143.515625,143.492188,M,I,1.709478,0.015407,0.000070,6534.532287,28654.0,43005.0,0.0,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7106,206477.0,20410215.B02120,2013-01-16,146.531250,147.015625,146.773438,M,I,0.000000,NaN,NaN,NaN,13008.0,25335.0,0.0,1.05386,C
7107,206477.0,20410215.B02120,2013-01-17,145.609375,145.640625,145.625000,M,I,0.000000,NaN,NaN,NaN,13008.0,25335.0,0.0,1.05370,C
7108,206477.0,20410215.B02120,2013-01-18,146.597656,147.078125,146.837891,M,I,0.000000,NaN,NaN,NaN,13008.0,25335.0,0.0,1.05354,C
7109,206477.0,20410215.B02120,2013-01-22,146.417969,146.898438,146.658203,M,I,0.000000,NaN,NaN,NaN,13008.0,25335.0,0.0,1.05290,C
7110,206477.0,20410215.B02120,2013-01-23,146.824219,147.304688,147.064453,M,I,0.000000,NaN,NaN,NaN,13008.0,25335.0,0.0,1.05273,C

# Get Timeseries for certain issues

In [28]:
KEYNO_ts = (207816,207818)
#KEYNO_ts = (206980,207213)

SQL_QUERY = f'select * from crsp_m_treasuries.tfz_dly where kytreasno in {KEYNO_ts}'

ts_issue = db.raw_sql(SQL_QUERY)
ts_issue

,kytreasno,kycrspid,caldt,tdbid,tdask,tdnomprc,tdnomprc_flg,tdsourcr,tdaccint,tdretnua,tdyld,tdduratn,tdpubout,tdtotout,tdpdint,tdidxratio,tdidxratio_flg
0,207816.0,20220630.400000,2022-05-11,99.902778,99.904167,99.903472,M,I,0.0,-0.000023,0.000019,50.0,None,123700.0,0.0,None,None
1,207816.0,20220630.400000,2022-05-12,99.904722,99.906083,99.905403,M,I,0.0,0.000019,0.000019,49.0,None,123700.0,0.0,None,None
2,207816.0,20220630.400000,2022-05-13,99.900000,99.901333,99.900667,M,I,0.0,-0.000047,0.000021,48.0,None,123700.0,0.0,None,None
3,207816.0,20220630.400000,2022-05-16,99.906250,99.907500,99.906875,M,I,0.0,0.000062,0.000021,45.0,None,123700.0,0.0,None,None
4,207816.0,20220630.400000,2022-05-17,99.905889,99.907111,99.906500,M,I,0.0,-0.000004,0.000021,44.0,None,123700.0,0.0,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,207816.0,20220630.400000,2022-05-04,99.889167,99.897083,99.893125,M,I,0.0,-0.000013,0.000019,57.0,None,123700.0,0.0,None,None
376,207816.0,20220630.400000,2022-05-05,99.902778,99.904333,99.903556,M,I,0.0,0.000104,0.000017,56.0,None,123700.0,0.0,None,None
377,207816.0,20220630.400000,2022-05-06,99.922083,99.923611,99.922847,M,I,0.0,0.000193,0.000014,55.0,None,123700.0,0.0,None,None
378,207816.0,20220630.400000,2022-05-09,99.907556,99.909000,99.908278,M,I,0.0,-0.000146,0.000018,52.0,None,123700.0,0.0,None,None
379,207816.0,20220630.400000,2022-05-10,99.905083,99.906500,99.905792,M,I,0.0,-0.000025,0.000018,51.0,None,123700.0,0.0,None,None

In [29]:
SQL_QUERY = f'select * from crsp_m_treasuries.tfz_iss where kytreasno in {KEYNO_ts}'
temp = db.raw_sql(SQL_QUERY)
temp

,kytreasno,kycrspid,crspid,tcusip,tdatdt,tmatdt,iwhy,tcouprt,tnippy,tvalfc,...,tfcaldt,tnotice,iymcn,itype,iuniq,itax,iflwr,tbankdt,tstripelig,tfrgntgt
0,207816.0,20220630.400000,20220630.400000,912796R5,2021-12-30,2022-06-30,1.0,0.0,0.0,0.0,...,None,0.0,None,4.0,0.0,1.0,1.0,None,None,None
1,207818.0,20221229.400000,20221229.400000,912796R2,2021-12-30,2022-12-29,1.0,0.0,0.0,0.0,...,None,0.0,None,4.0,0.0,1.0,1.0,None,None,None

# Get Timeseries for TIPS issues

In [30]:
KEYNO_tips = (207431,206999,207009)

SQL_QUERY = f'select * from crsp_m_treasuries.tfz_dly where kytreasno in {KEYNO_tips}'

ts_issue_tips = db.raw_sql(SQL_QUERY)
ts_issue_tips

,kytreasno,kycrspid,caldt,tdbid,tdask,tdnomprc,tdnomprc_flg,tdsourcr,tdaccint,tdretnua,tdyld,tdduratn,tdpubout,tdtotout,tdpdint,tdidxratio,tdidxratio_flg
0,207431.0,20241015.C00120,2019-10-21,100.171875,100.242188,100.207031,M,I,0.000000,NaN,NaN,NaN,NaN,NaN,0.0,0.99999,C
1,206999.0,20260715.C00120,2016-07-14,101.171875,101.203125,101.187500,M,I,0.000000,NaN,NaN,NaN,NaN,NaN,0.0,0.99987,C
2,206999.0,20260715.C00120,2016-07-15,100.890625,100.921875,100.906250,M,I,0.000000,NaN,NaN,NaN,NaN,NaN,0.0,1.00000,C
3,206999.0,20260715.C00120,2016-07-18,101.253906,101.285156,101.269531,M,I,0.000000,NaN,NaN,NaN,NaN,NaN,0.0,1.00039,C
4,206999.0,20260715.C00120,2016-07-19,101.421875,101.453125,101.437500,M,I,0.000000,NaN,NaN,NaN,NaN,NaN,0.0,1.00052,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4711,207009.0,20260815.201500,2019-10-15,98.812500,98.875000,98.843750,M,I,0.248641,-0.002667,0.000046,2375.080233,63023.0,65349.0,0.0,NaN,None
4712,207009.0,20260815.201500,2019-10-16,99.062500,99.125000,99.093750,M,I,0.252717,0.002564,0.000045,2374.276965,63023.0,65349.0,0.0,NaN,None
4713,207431.0,20241015.C00120,2019-10-24,100.332031,100.402344,100.367188,M,I,0.000000,NaN,NaN,NaN,NaN,NaN,0.0,0.99999,C
4714,207431.0,20241015.C00120,2019-10-25,100.257812,100.332031,100.294922,M,I,0.000000,NaN,NaN,NaN,NaN,NaN,0.0,0.99998,C
4715,207431.0,20241015.C00120,2019-10-29,99.820312,99.890625,99.855469,M,I,0.000000,NaN,NaN,NaN,NaN,NaN,0.0,0.99998,C

In [31]:
SQL_QUERY = f'select * from crsp_m_treasuries.tfz_iss where kytreasno in {KEYNO_tips}'
temp = db.raw_sql(SQL_QUERY)
#temp = temp[temp['itype'].isin([11,12]) == DOTIPS]
temp

,kytreasno,kycrspid,crspid,tcusip,tdatdt,tmatdt,iwhy,tcouprt,tnippy,tvalfc,...,tfcaldt,tnotice,iymcn,itype,iuniq,itax,iflwr,tbankdt,tstripelig,tfrgntgt
0,206999.0,20260715.C00120,20260715.C00120,912828S5,2016-07-15,2026-07-15,0.0,0.125,2.0,0.0625,...,None,0.0,None,12.0,0.0,1.0,1.0,None,None,None
1,207009.0,20260815.201500,20260815.201500,9128282A,2016-08-15,2026-08-15,0.0,1.500,2.0,0.7500,...,None,0.0,None,2.0,0.0,1.0,1.0,None,None,None
2,207431.0,20241015.C00120,20241015.C00120,912828YL,2019-10-15,2024-10-15,0.0,0.125,2.0,0.0625,...,None,0.0,None,12.0,0.0,1.0,1.0,None,None,None

# Get Timeseries for Duration Analysis

Update the KEYNOs. 
* These three are issued in Aug 2019.
* Idea is 5, 10, 30 maturities.
* 5-year matures in Aug 2024. So will need updated.

Used in HW 2, problem 3.
* Only make use of the 30yr and 10yr there.

In [29]:
KEYNO_ts_duration = (207392, 207391, 207404)
SQL_QUERY = f'select * from crsp_m_treasuries.tfz_dly where kytreasno in {KEYNO_ts_duration}'
ts_issue_duration = db.raw_sql(SQL_QUERY)
ts_issue_duration

infoflds = ['tdatdt','tmatdt','tcouprt','itype']
labels = ['issue date','maturity date','coupon rate','security type']
rename_dict = {infoflds[i]:labels[i] for i in range(len(infoflds))}
info_ts_duration = data_iss.set_index('kytreasno').loc[list(KEYNO_ts_duration),infoflds].rename(columns=rename_dict)

# Save to Excel

In [13]:
outfile = f'../data/treasury_quotes_{DATE}.xlsx'
with pd.ExcelWriter(outfile) as writer:  
    data.to_excel(writer, sheet_name= 'quotes', index=False)

In [34]:
outfile = f'../data/treasury_ts_{MATDT}.xlsx'
with pd.ExcelWriter(outfile) as writer:  
    ts.to_excel(writer, sheet_name= 'ts', index=False)

In [35]:
outfile = f'../data/treasury_ts_issue_{KEYNO_ts}.xlsx'
with pd.ExcelWriter(outfile) as writer:  
    ts_issue.to_excel(writer, sheet_name= 'ts', index=False)

In [36]:
outfile = f'../data/treasury_ts_issue_TIPS_{KEYNO_tips}.xlsx'
with pd.ExcelWriter(outfile) as writer:  
    ts_issue_tips.to_excel(writer, sheet_name= 'ts', index=False)

In [37]:
outfile = f'../data/yields.xlsx'
with pd.ExcelWriter(outfile) as writer:
    data_ft.to_excel(writer, sheet_name= 'yields', index=True)

In [30]:
outfile = f'../data/treasury_ts_issue_duration_{KEYNO_ts_duration}.xlsx'
with pd.ExcelWriter(outfile) as writer:  
    info_ts_duration.to_excel(writer, sheet_name= 'info', index=True)
    ts_issue_duration.to_excel(writer, sheet_name= 'ts', index=False)